@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(10px);
}

img:hover {
  margin: 0px -2px 0px 0px;
}
/* the mouse */
html, body, *, button, a, input, img, .disabled, a:disabled, input:disabled {
  cursor: url('/blackcircle.svg'), auto;
}

button:hover, a:hover, input:hover, .hover:hover {
  cursor: url('/whitecircle.svg'), auto;
}

button:focus, a:focus, input:focus, .focus:focus, img:hover {
  cursor: url('/redcircle.svg'), auto;
}